.menu {
    z-index: 1000;
    height: 100vh;
    background-color: #121212;
    overflow-y: auto;
}

.folded {
    width: 60px;
}

.unfolded {
    width: 240px;
}

.menuElement {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 0.5em 0;
}
.menuElement img {
    height: 1.5em;
}