.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #282828;
  z-index: 1001;
  padding: 0em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.title {
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.addScorePanel {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: center;
  position: relative;
}

.playerScore {
  display: flexbox;
  flex-direction: row;
  width: 100%;
  padding: 0.5em 0; 
}

.playerScore > :first-child {
  float: left;
}

.playerScore > :last-child {
  float: right;
}