.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.playerColumn {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid green;
}

.playerName {
  padding: 0.5em 0;
  margin: 0 auto;
}

.playerScore {
  border: 1px solid red;
  height: 100%;
}
